.App {
  text-align: center;
}
#header {
  height: 10vh;
  background-color: #4961DC;
  max-height: 70px;
  position: sticky;
  top: 0;
  z-index: 99;
  img.logo {
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0px;
  }
}
@import 'desk.scss';
@import 'cards.scss';