.App {
  text-align: center;
}
#header {
  height: 10vh;
  background-color: #4961dc;
  max-height: 70px;
  position: sticky;
  top: 0;
  z-index: 99;
  img.logo {
    position: absolute;
    top: 0px;
    height: 100%;
    left: 0px;
  }
}
#footer {
  height: 30vh;
  background-image: linear-gradient(170deg, white calc(50% - 2px), blue 50%);
  text-align: left;

  img {
    height: 100%;
    text-align: left;
  }
}
@import "desk.scss";
@import "cards.scss";
@import "blurbs.scss";
