@import "includeMedia.scss";
#desk_section {
  position: relative;
  // height: 50vh;
  justify-content: center;
  align-content: center;
  .no-right-side-triangle {
    position: absolute;
    clip-path: polygon(0 0, 0 50%, 100% 0);
    background-color: #4961dc;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #desk {
    width: 80vw;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-content: center;
    img {
        width: 100%
    }
    @include media("<tablet") {
        width:100%;
      #bigHeaderSVGs {
        display: none;
      }
      #smallHeaderSVGs {
        display: block;
      }
    }
    @include media(">tablet") {
      #bigHeaderSVGs {
        display: block;
      }
      #smallHeaderSVGs {
        display: none;
      }
    }
  }
}
